.standbypage{
    text-align: center;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: lightblue;
    text-emphasis-color: midnightblue;
    margin-top: 190px;
}